@import "../../app.component.scss";

.search-bar {
  height: 10vh;
  width: 85vw;
  display: flex;
  align-items: center;
  margin-left: 36px;
  img {
    margin-right: 24px;
    height: 32px;
    width: 32px;
  }
  input {
    @include text($size: 24px, $height: 30px);
    background-color: transparent;
    width: 100%;
    outline: none;
    border-bottom: 1px solid transparent;
    &:focus {
      border-bottom: 1px solid hsl(223, 23%, 46%);
      caret-color: hsl(0, 97%, 63%);
    }
  }
}
