@mixin text($size: 15px, $weight: 300, $height: 19px) {
  font-family: "Outfit";
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: $height;
}

$red: hsl(0, 97%, 63%);
$black: hsl(223, 30%, 9%);
$lightGray: hsl(223, 23%, 46%);
$darkGray: hsl(223, 36%, 14%);
$white: hsl(0, 0%, 100%);

.main {
  align-items: center;
  background-color: $black;
  display: flex;
  height: 100vh;
  width: 100vw;
}
